<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<p>For listing of your CSV : <strong>/listing</strong></p>
<p>For upload a CSV file : <strong>/upload_file</strong></p>
<p>For request a CSV file (listing of column and first line) : /request/<strong>file</strong></p>
<p>For request a CSV file (specify number of line) : /request/<strong>file</strong>/<strong>nbrline</strong></p>
<p>For request : /request/<strong>name_of_file</strong>/<strong>column</strong>/<strong>number</strong></p>
</body>
</html>